version: '3.5'
services:
  nhsd.buyingcatalogue.identity.api.user.db:
    image: ${REGISTRY:-nhsd}/buying-catalogue/identity-api-user-db:${TAG:-latest}
    build: 
      context: src/NHSD.BuyingCatalogue.Identity.UserDatabase
    container_name: identity_api_user_db
    volumes:
      - nhsd_identity_user_db_volume:/var/opt/mssql/
    networks:
      - nhsd_bcnetwork
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=MyTestPassword123!
      - MSSQL_PID=Express
      - DB_NAME=${NHSD_LOCAL_DB_NAME:-CatalogueUsers}
      - NHSD_PASSWORD=DisruptTheMarket1!
      - INSERT_TEST_DATA=True
      - CREATE_EA_USER=True
      - EA_USER_FIRST_NAME=Agency
      - EA_USER_LAST_NAME=User
      - EA_USER_EMAIL=user@agency.com
      - EA_USER_PASSWORD_HASH=AQAAAAEAACcQAAAAEEOFkNNrFpKmDC2TBv2CP/dzxfnjdXk97RoqRlunE/CGs2tmFcewKZj4M/fITiP2tg==
      - EA_USER_PHONE=01234567890
    ports:
      - "${NHSD_LOCAL_DB_PORT:-1533}:1433"
      
  nhsd.buyingcatalogue.identity.api:
    image: ${REGISTRY:-nhsd}/buying-catalogue/identity-isapi:${TAG:-latest}
    container_name: identity_api
    build: 
      context: .
      dockerfile: src/NHSD.BuyingCatalogue.Identity.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - CLIENTS__1__REDIRECTURLS__0=http://localhost:8072/signin-oidc
      - CLIENTS__1__REDIRECTURLS__1=http://host.docker.internal:8072/signin-oidc
      - CLIENTS__1__POSTLOGOUTREDIRECTURLS__0=http://localhost:8072/signout-callback-oidc
      - CLIENTS__1__POSTLOGOUTREDIRECTURLS__1=http://host.docker.internal:8072/signout-callback-oidc
      - ConnectionStrings__CatalogueUsers=${NHSD_CATALOGUEUSERS_DB:-Data Source=nhsd.buyingcatalogue.identity.api.user.db;Initial Catalog=CatalogueUsers;MultipleActiveResultSets=True;User Id=NHSD;Password=DisruptTheMarket1!}
      - ISSUERURL=http://host.docker.internal:8070/identity
      - SmtpServer__Host=nhsd.buyingcatalogue.email
      - SmtpServer__Port=587
      - AllowInvalidCertificate=True
    depends_on:
      - nhsd.buyingcatalogue.identity.api.user.db
      - nhsd.buyingcatalogue.email
    entrypoint: 
      - /bin/sh
      - -c 
      - ip -4 route list match 0/0 | awk '{print $$3" host.docker.internal"}' >> /etc/hosts && dotnet /app/NHSD.BuyingCatalogue.Identity.Api.dll
    networks:
      - nhsd_bcnetwork
    ports:
      - "8070:80"

  nhsd.buyingcatalogue.identity.api.broken.smtp:
    image: ${REGISTRY:-nhsd}/buying-catalogue/identity-isapi:${TAG:-latest}
    container_name: identity_api_broken_smtp
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__CatalogueUsers=${NHSD_CATALOGUEUSERS_DB:-Data Source=nhsd.buyingcatalogue.identity.api.user.db;Initial Catalog=CatalogueUsers;MultipleActiveResultSets=True;User Id=NHSD;Password=DisruptTheMarket1!}
      - SmtpServer__Host=broken.smtp
      - SmtpServer__Port=1337
    depends_on:
      - nhsd.buyingcatalogue.identity.api
    networks:
      - nhsd_bcnetwork
    ports:
      - "8170:80"

  nhsd.buyingcatalogue.organisations.api:
    image: ${REGISTRY:-nhsd}/buying-catalogue/organisations-api:${TAG:-latest}
    container_name: organisations_api
    build: 
        context: .
        dockerfile: src/NHSD.BuyingCatalogue.Organisations.Api/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - AUTHORITY=http://host.docker.internal:8070/identity
        - ConnectionStrings__CatalogueUsers=${NHSD_CATALOGUEUSERS_DB:-Data Source=nhsd.buyingcatalogue.identity.api.user.db;Initial Catalog=CatalogueUsers;MultipleActiveResultSets=True;User Id=NHSD;Password=DisruptTheMarket1!}
        - SmtpServer__Host=nhsd.buyingcatalogue.email
        - SmtpServer__Port=587
        - AllowInvalidCertificate=True
    depends_on:
      - nhsd.buyingcatalogue.identity.api.user.db
      - nhsd.buyingcatalogue.email
    entrypoint: 
      - /bin/sh
      - -c 
      - ip -4 route list match 0/0 | awk '{print $$3" host.docker.internal"}' >> /etc/hosts && dotnet /app/NHSD.BuyingCatalogue.Organisations.Api.dll
    networks:
        - nhsd_bcnetwork
    ports:
        - "8075:80"

  nhsd.buyingcatalogue.organisations.api.broken.smtp:
    image: ${REGISTRY:-nhsd}/buying-catalogue/organisations-api:${TAG:-latest}
    container_name: organisations_api_broken_smtp
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ConnectionStrings__CatalogueUsers=${NHSD_CATALOGUEUSERS_DB:-Data Source=nhsd.buyingcatalogue.identity.api.user.db;Initial Catalog=CatalogueUsers;MultipleActiveResultSets=True;User Id=NHSD;Password=DisruptTheMarket1!}
        - SmtpServer__Host=broken.smtp
        - SmtpServer__Port=1337
    depends_on:
      - nhsd.buyingcatalogue.organisations.api
    networks:
      - nhsd_bcnetwork
    ports:
        - "8175:80"

  nhsd.buyingcatalogue.identity.api.sampleresource:
    image: ${REGISTRY:-nhsd}/buying-catalogue/identity/api-sampleresource:${TAG:-latest}
    container_name: identity_api_sample_resource
    build: 
        context: .
        dockerfile: samples/NHSD.BuyingCatalogue.Identity.Api.SampleResource/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - AUTHORITY=http://host.docker.internal:8070/identity
    entrypoint: 
      - /bin/sh
      - -c 
      - ip -4 route list match 0/0 | awk '{print $$3" host.docker.internal"}' >> /etc/hosts && dotnet /app/NHSD.BuyingCatalogue.Identity.Api.SampleResource.dll
    networks:
        - nhsd_bcnetwork
    ports:
        - "8071:80"
        
  nhsd.buyingcatalogue.identity.api.samplemvcclient:
    image: ${REGISTRY:-nhsd}/buying-catalogue/identity/api-samplemvcclient:${TAG:-latest}
    container_name: identity_api_sample_mvc_client
    build: 
        context: .
        dockerfile: samples/NHSD.BuyingCatalogue.Identity.Api.SampleMvcClient/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - AUTHORITY=http://host.docker.internal:8070/identity
        - SAMPLERESOURCEURL=http://host.docker.internal:8071/Identity
    entrypoint: 
      - /bin/sh
      - -c 
      - ip -4 route list match 0/0 | awk '{print $$3" host.docker.internal"}' >> /etc/hosts && dotnet /app/NHSD.BuyingCatalogue.Identity.Api.SampleMvcClient.dll
    networks:
        - nhsd_bcnetwork
    ports:
        - "8072:80"

  nhsd.buyingcatalogue.identity.api.samplemvcclient.invalidsecret:
    image: ${REGISTRY:-nhsd}/buying-catalogue/identity/api-samplemvcclient:${TAG:-latest}
    container_name: identity_api_sample_mvc_client_invalidsecret
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - AUTHORITY=http://host.docker.internal:8070/identity
        - SAMPLERESOURCEURL=http://host.docker.internal:8071/Identity
        - CLIENTSECRET=Invalid
    networks:
        - nhsd_bcnetwork
    ports:
        - "8073:80"
    
  selenium-hub:
    image: selenium/hub
    container_name: selenium-hub
    ports:
      - "4444:4444"
  chrome:
    image: ${REGISTRY:-nhsd}/buying-catalogue/identity/chrome-node:${TAG:-latest}
    build: 
        context: .
        dockerfile: tests/NHSD.BuyingCatalogue.Identity.Api.IntegrationTests/Selenium/Dockerfile
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444
    entrypoint: 
      - /bin/sh
      - -c 
      - ip -4 route list match 0/0 | awk '{print $$3" host.docker.internal"}' | sudo tee -a /etc/hosts && /opt/bin/entry_point.sh

  nhsd.buyingcatalogue.email:
    image: ${REGISTRY:-nhsd}/buying-catalogue/smtp-server:${TAG:-latest}
    container_name: smtp_server
    build: 
      context: src/NHSD.BuyingCatalogue.Smtp
    ports:
      - "1025:25"
      - "1080:80"
      - "1587:587"
    networks:
      - nhsd_bcnetwork

networks: 
  nhsd_bcnetwork:
    name: nhsd_bcnetwork
    driver: bridge

volumes:
  nhsd_identity_user_db_volume:
    name: nhsd_identity_user_db_volume
